body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*собственные глобальные стили используемые в проекте*/
.box-container {
  margin: 0 auto;
  min-height: 286px;

  display: flex;
  flex-direction:column;
  justify-content: space-between;
}
.input-box {
  margin: 0 auto;
  min-width: 543px;
  display: flex;
  gap: 12px;
}
.list-box {
  max-width: 1041px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.list-box_circle {
  margin-top: 48px;
}